  body{
  background-color: #26A65B;
}

.center{
  margin: 0 auto !important;
  float: none !important;
}
.bglogin{
  /*background: url(http://grozav.com/plugins/bootslider/img/slide-3.jpg);*/
  background-color: #4caf50;
}

.no-margin{
  margin: 0 !important;
}

.my_form{
  background-color: rgba(245,245,245,1);
  margin-top: 10rem;
  padding: 2rem;  
  box-shadow: 3px 0 15px -2px rgba(0,0,0,.9);
  color: black;
  border-top: 6px solid green;
}

.img-avatar{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-control{
  padding: 2rem;
  background-color: rgba(0,0,0,.09);
  border: none;

}

.form-control:focus{
  border:none;
  box-shadow: none;
  color:black;
}

.form-control:first-of-type{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control:last-of-type{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.btn-login{
  background-color: #6C7A89;
  border-color: transparent;
  border-radius: 0;  
}
.btn-login:hover{
  background-color: #95A5A6;
  border-color: transparent;
}

.social-login{
  text-align:center;
  font-size:12px;
}
.social-login ul{
  margin:4px;
  padding:0;
  list-style-type:none;
}
.social-login ul li{
  width: 50%;
  float:left;
  clear:fix;
}
.social-login ul li a{
  font-size:13px;
  color:#fff;
  text-decoration:none;
  padding:10px;
  display:block;

}

.footer{
  height: 10%;
  padding: 10px;
   background-color: rgba(245,245,245,1);
   margin-bottom: 0;
}
/*
.social-login ul li:nth-child(1) a{
  background:#3b5998;
}
.social-login ul li:nth-child(2) a{
  background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
  background:#3698d9;
}
*/

/* PAGINA ADMIN */

.box-perfil{
  background-color: red;
  margin-left: 0px;
}